/.esquema-formación.md.default.pandoc
/*.pandoc
/esquema-formación.pdf
/esquema-formación.html
/prueba-nocite.md
/portada.md
*.odg
/esquema-formación.md
/curso-markdown-UNED-arial.md
/background-verde.pdf
/background.pdf
/curso-markdown-UNED-arial.pdf
